<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Render Ranch</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<div id="head">

		</div>


		<style type="stylesheet/css">
			body, html {
				padding: 0px;
				margin: 0px;
			}

			body {
				background: #f1fcfc;
			}

			#head {
				background: #40e0d0;
				height: 100px;
				width: 100vw;
			}
		</style>
    <script src="script.js"></script>
  </body>
</html>
